<footer>
	<div class="content">
		<div class="top">
			<div class="logo-details">
				<img
					src="{{ '/assets/images/cds/cdsIcon.svg' | relative_url }}"
					alt="ColDog Studios Logo"
					style="width: 80px; height: 80px; image-rendering: -webkit-optimize-contrast; image-rendering: crisp-edges"
				/>
				<span class="logo_name">COLDOG STUDIOS</span>
			</div>
			<div class="media-icons">
				<a href="https://twitter.com/ColDogStudios" target="_blank"><i class="fab fa-twitter"></i></a>
				<a href="https://linkedin.com/company/coldog-studios" target="_blank"><i class="fab fa-linkedin-in"></i></a>
				<a href="https://www.youtube.com/channel/UCg5OwhXiYjPM01L009qfnDw" target="_blank"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
		<div class="link-boxes">
			<ul class="box">
				<li class="link_category">Company</li>
				<li class="link_name"><a href="/" aria-label="ColDog Studios Home">Home</a></li>
				<li class="link_name"><a href="/contact/" aria-label="ColDog Studios Contact">Contact Us</a></li>
				<li class="link_name"><a href="/branding/" aria-label="ColDog Studios Branding">Branding</a></li>
			</ul>
			<ul class="box">
				<li class="link_category">Projects</li>
				<li class="link_name"><a href="https://github.com/ColDog-Studios/ColDog-Locker" aria-label="ColDog Locker">ColDog Locker</a></li>
				<li class="link_name"><a href="https://github.com/ColDog-Studios/RootPlane" aria-label="RootPlane">RootPlane</a></li>
				<li class="link_name"><a href="https://github.com/ColDog-Studios/CARLSON/" aria-label="CARLSON">CARLSON</a></li>
				<!--<li class="link_name"><a href="/projects/dj-coldog/" aria-label="DJ ColDog">DJ ColDog</a></li>-->
			</ul>
			<ul class="box">
				<li class="link_category">Services</li>
				<li class="link_name"><a href="/services/cybersecurity-consulting/" aria-label="Cybersecurity Consulting">Cybersecurity Consulting</a></li>
				<li class="link_name"><a href="/services/network-infrastructure-consulting/" aria-label="Network and Infrastructure Consulting">Network & Infrastructure</a></li>
				<li class="link_name"><a href="/services/compliance-readiness/" aria-label="Compliance and Readiness">Compliance Readiness</a></li>
				<li class="link_name"><a href="/services/incident-readiness-response/" aria-label="Incident Readiness and Response Support">Incident Readiness</a></li>
				<li class="link_name"><a href="/services/technical-implementation/" aria-label="Technical Implementation">Technical Implementation</a></li>
			</ul>
			<ul class="box">
				<li class="link_category">Troubleshooting Docs</li>
				<li class="link_name"><a href="https://docs.coldogstudios.com/docs/windows/troubleshooting" aria-label="Windows Troubleshooting">Windows</a></li>
				<li class="link_name"><a href="https://docs.coldogstudios.com/docs/linux/troubleshooting" aria-label="Linux Troubleshooting">Linux</a></li>
				<li class="link_name"><a href="https://docs.coldogstudios.com/docs/macos/troubleshooting" aria-label="MacOS Troubleshooting">MacOS</a></li>
			</ul>
		</div>
	</div>
	<div class="bottom-details">
		<div class="bottom_text">
			<span class="copyright_text">Copyright &#169; {{ site.time | date: '%Y' }} ColDog Studios. All rights reserved</span>
			<span class="policy_terms">
				<a href="/legal/privacy-policy.html" aria-label="Privacy Policy">Privacy Policy</a>
				<a href="/legal/terms-of-service.html" aria-label="Terms of Service">Terms of Service</a>
			</span>
		</div>
	</div>
</footer>
