<nav class="nav">
	<i class="fa-solid fa-bars navOpenBtn"></i>
	<label class="logo">
		<img src="{{ '/assets/images/cds/cdsIcon.svg' | relative_url }}" alt="ColDog Studios Logo" />
	</label>

	<ul class="nav-links">
		<i class="fa-solid fa-times navCloseBtn"></i>
		<li><a href="/">Home</a></li>
		<li><a href="/projects/">Projects</a></li>
		<li><a href="/services/">Services</a></li>
		<li><a href="/contact/">Contact</a></li>
	</ul>

	<!-- Search Box -->
	<div class="search-box">
		<input type="text" id="search-input" placeholder="Search..." autocomplete="off" />
		<i class="fa-solid fa-search searchBtn"></i>
		<div id="search-results" class="search-results"></div>
	</div>
</nav>
